.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #dfdfdf;
}


.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem{
    
    padding: 16px;
    border: 1px solid rgb(218, 217, 217, 1);
    color: #dfdfdf;
}

.listItemName{
    font-size: 18px;
    font-weight: bold;
    color: #dfdfdf;
}
.listItemLanguage{
    font-size: 14px;
    color: #dfdfdf;
}
.listItemLink{
    display: block;
    text-decoration: none;
    background-color: #ff0505e1;
    color: #ffffff;
    font-size: 14px;
}

