.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem{
    
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.listItemName{
    font-size: 18px;
    font-weight: bold;
}
.listItemLanguage{
    font-size: 14px;
    color: #666;
}
.listItemLink{
    display: block;
    text-decoration: none;
    background-color: #ff0505e1;
    color: #ffffff;
    font-size: 14px;
}

