*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    
}

body {

    background-color: #181717;
  }

:root{
    --corPrinciapal: #a51b1294;
    --corSecundaria: #dfdfdf;
}


